/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Header */

.page-header {
  background-image: url(../img/wall.png);
  display: flex;
  justify-content: center;
}

/* Main */

.posts {
  background-image: url(../img/cork.png);
  
}