/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  max-width: 100%;
} */

/* Header */

.page-header {
  min-height: 147px;
  background-image: url(../img/wall.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main */

.page-main {
  background-image: url(../img/cork.png);
  height: 100vh;
}

.posts {
  padding: 30px;
}

.card {
  position: relative;
  background-color: white;
}

.pin {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translate(-50%);
}

.card-body {
  text-align: center;
}